<div class="container-fluid">
  <div class="row">
    <h2>Welcome!<h2>
  </div>
</div>

<div class="container-fluid">
  <div style="margin-top: 15px" class="row">
    <div class="col-sm-12">

      <a href="/auth/twitter">
        <span class="btn btn-primary">Connect with Twitter</span>
      </a>

      <a href="/auth/google">
        <span class="btn btn-primary">Connect with Google</span>
      </a>
    </div>
  </div>
</div>