<div class="container-fluid">
  <div class="row">
    <h2>Welcome!<h2>
  </div>
</div>

<div class="container-fluid">
  <div style="margin-top: 15px" class="row">
    <div class="col-sm-12">

      <a href="/auth/accountclearing/google">
        <span class="btn btn-primary">Click Here To Connect Your Gmail Accounts</span>
      </a>
    </div>
  </div>
</div>

<div style="margin-top: 15px" class="container-fluid">
    <h4 > Your connected accounts </h4>
    {{#each accounts }}
    <div style="margin-top: 15px" class="row">
      <div class="col-sm-12">
        <img src={{photo}} />
        {{email}}
      </div>
    </div>
    {{/each}}
</div>

<div style="margin-top: 15px" class="container-fluid">
    <h4 > Your batched inbox (email #  : email snippet) </h4>
    {{#each jsonObj }}
    <div style="margin-top: 15px" class="row">
      <div class="col-sm-12">
        {{id}} : {{emailSnippet}}
      </div>
    </div>
    {{/each}}
</div>